[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
torch = "*"
transformers = "*"
sklearn = "*"
pandas = "*"
tqdm = "*"
deeppavlov = "*"
ipywidgets = "*"
hyperopt = "*"

[dev-packages]

[requires]
python_version = "3.7"
